version: "3.9"

services:
  app:
    build: .
    container_name: my-node-app
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    command: sh -c "npx prisma db push && npm run start"
    depends_on:
      - redis
    environment:
      REDIS_URL: redis://:StrongRedisPassword@redis:6379
      DATABASE_URL: ${DATABASE_URL} 

  redis:
    image: redis:latest
    container_name: my-redis
    command: redis-server --requirepass StrongRedisPassword
    volumes:
      - redis-data:/data
    ports:
      - "6379:6379"

volumes:
  redis-data: